<%= form_for @user, html: { class: "form-signin" } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="form-signin-heading">New user</h1>
  <%= f.text_field :email, class: "form-control", placeholder: "Email address" %>
  <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
  <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter password again" %>

  <%= f.submit "Create Account", class: "btn btn-lg btn-primary btn-block" %>

<% end %>
