<% content_for(:head) do %>
  <%= stylesheet_link_tag "typeahead.js-bootstrap" %>
<% end %>

<div class="col-md-2">
  <div class="well sidebar-nav">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="<%= user_path current_user %>">
        <img class="img-thumbnail" src="<%= current_user.avatar_url %>"> <%= current_user.name %> (@<%= current_user.username %>)</a></li>
      <li class=<%= page=="follows" ? "active" : "" %>><a href="<%= following_path %>"><span class="glyphicon glyphicon-eye-open"></span> Following (<%= current_user.followeds.count %>)</a></li>
      <li class=<%= page=="followers" ? "active" : "" %>><a href="<%= followers_path %>"><span class="glyphicon glyphicon-user"></span> Followers (<%= current_user.followers.count %>)</a></li>
      <li class=<%= page=="favorites" ? "active" : "" %>><a href="<%= favorites_path %>"><span class="glyphicon glyphicon-heart"></span> Favorites (<%= current_user.favorites.count %>)</a></li>
      <li class=<%= page=="find" ? "active" : "" %>>
        <form action="<%= search_path %>" method="get">
          <span class="glyphicon glyphicon-search"></span>
          <%= search_field_tag :q, params[:q], class: 'typeahead form-control find-type' %>
          <%= submit_tag "Search", name: nil %>
        </form>
      </li>
      <li><a href="<%= new_post_path %>"><span class="glyphicon glyphicon-edit"></span> Post</a></li>
      <!-- <li><a href="#">Trending</a></li> -->
    </ul>
  </div><!--/.well -->
</div><!--/span-->


<% content_for(:footer) do %>
  <%= javascript_include_tag "typeahead.min" %>
  <script type="text/javascript">
    $(function(){
      $('.find-type').typeahead({
        name: 'posts',
        remote: {
          url: '/search.json?q=%QUERY',
          filter: lightwell
        }
      });

      function lightwell(parsedResponse) {
        var i, l, obj, matches = [];

        if (parsedResponse.term==="") {
            return;
        }

        for  (i = 0, l = parsedResponse.length; i<l; i++) {
            obj = parsedResponse[i];
            matches.push(obj.message);
            matches.push(obj.user.username);
        }
        return(matches);
      }
    });
  </script>
<% end %>
