<div class="row-fluid">
  <%= render partial: "profile_menu", locals: {page: ""}%>

  <div class="span3 well">
    <%= image_tag "cats1.jpg", alt: "Cat1" %>
    <ul class="unstyled inline share-row">
      <li><a class="btn" href="#TODO">Comment &raquo;</a></li>
      <li class="pull-right"><a class="btn" href="#TODO"><i class="icon-eye-open"></i></a></li>
      <li class="pull-right"><a class="btn" href="#TODO"><i class="icon-heart"></i></a></li>
    </ul>
  </div>
  <div class="span4 well">
    <%= image_tag "cats2.jpg", alt: "Cat2", class: "img-rounded" %>
    <ul class="unstyled inline share-row">
      <li><a class="btn" href="#TODO">Comment &raquo;</a></li>
      <li class="pull-right"><a class="btn" href="#TODO"><i class="icon-eye-open"></i></a></li>
      <li class="pull-right"><a class="btn" href="#TODO"><i class="icon-heart"></i></a></li>
    </ul>
 </div>
  <div class="span3 well">
    <%= image_tag "cats3.jpg", alt: "Cat3" %>
    <ul class="unstyled inline share-row">
      <li><a class="btn" href="#TODO">Comment &raquo;</a></li>
      <li class="pull-right"><a class="btn" href="#TODO"><i class="icon-eye-open"></i></a></li>
      <li class="pull-right"><a class="btn" href="#TODO"><i class="icon-heart"></i></a></li>
    </ul>
  </div>
</div>

<hr>



<h1>Feed</h1>
<% @posts.each do |post| %>
  <a href="<%= user_path post.user %>">
    <img src="<%= post.user.avatar_url %>">
    <%= post.user.name %>
  </a>
  @<%= post.user.username %>
  <%= time_ago_in_words(post.created_at) %>
  <p>
    <%= image_tag post.outfit.url(:profile) %>
  </p>
  <p><%= post.message %></p>
  <p>
    <% if current_user.favorites.include?(post) %>
      <%= link_to "unfavorite", favorite_post_path(post, type: 'unfavorite'), method: :put %>
    <% else %>
      <%= link_to "favorite", favorite_post_path(post, type: 'favorite'), method: :put %>
    <% end %>
  </p>
<% end %>
