<% if current_user %>
<h1>Post an Outfit</h1>
<p>
    <%= render 'posts/form' %>
</p>
<% end %>

<img class="avatar" src="<%= @user.avatar_url %>">
<h1><%= @user.name %></h1>
<p>
  <strong>@<%= @user.username %></strong>
</p>
<p>
    <%= @user.posts.size %> Posts <br>
    <%= @user.followers.count %> Followers <br>
    <%= @user.followeds.count %> Following
</p>
<% if current_user and @user != current_user %>
    <% if current_user.following? @user %>
        <%= form_tag relationship_path, method: :delete do %>
            <%= submit_tag "Unfollow" %>
        <% end %>
    <% else %>
        <%= form_for @relationship do %>
            <%= hidden_field_tag :followed_id, @user.id %>
            <%= submit_tag "Follow" %>
        <% end %>
    <% end %>
<% end %>

<h1>Posts</h1>
<% @user.posts.each do |post| %>
    <a href="<%= post_path post %>">
        <img class="avatar" src="<%= @user.avatar_url %>">
        <strong><%= @user.name %></strong>
        @<%= @user.username %>
        <%= time_ago_in_words(post.created_at) %><br>
        <p> <%= post.message %> </p>
    </a>
<% end %>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
