<% if current_user %>
  <h1>Post an Outfit</h1>
  <p>
  <%= render 'form' %>
  </p>
<% end %>
  <h1>Public Posts</h1>
  <% @posts.each do |post| %>
    <a href="<%= user_path post.user %>">
    <img class="avatar" src="<%= post.user.avatar_url %>">
    <%= post.user.name %>
    </a>
    @<%= post.user.username %>
    <%= time_ago_in_words(post.created_at) %>
    <p> <%= post.message %> </p>
  <% end %>
