<img class="avatar" src="<%= @post.user.avatar_url %>">
<strong><%= @post.user.name %></strong>
@<%= @post.user.username %>
<%= time_ago_in_words(@post.created_at) %><br>
<p>
  <%= image_tag @post.outfit.url %>
</p>
<p> <%= @post.message %> </p>
