<%= form_for @post do |form| %>

    <%= form.fields_for :tags do |t_field| %>
        <div class="tagBox">
            <%= image_tag @post.outfit.url(:profile) %>
        </div>
        Content: <%= t_field.text_field :content %>
        X Loc: <%= t_field.text_field :x_loc %>
        Y Loc: <%= t_field.text_field :y_loc %>
    <% end %>
    <p><%= form.submit "Tag" %></p>
<% end %>

<% content_for(:footer) do %>
  <%= javascript_include_tag "jquery.annotate" %>
  <script type="text/javascript">
    $(function(){
      function blackNote() {
        return $(document.createElement('span'))
          .text('TEST');
      }

    $('#tagBox').annotatableImage(blackNote);

    });
  </script>
<% end %>
